* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  --main-color: #2c2c2c;
  --secondary-color: crimson;
  --gray-color: rgb(90, 89, 89);
  --star-color: gold;
  --price-color: green;
  --review-bg-color: #eae9e9;
  --review-p-color: #707070;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-color);
  cursor: pointer;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  position: fixed;
  z-index: 999;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  padding: 20px;
}

.logo img {
  max-width: 130px;
}

.nav-menu {
  display: flex;
  gap: 10px;
}

.nav-menu a {
  font-size: 17px;
}

.nav-menu a:hover {
  color: var(--secondary-color);
  transition: 0.5s;
}

.nav-icon {
  display: flex;
  align-items: center;
}

.nav-icon i {
  color: var(--main-color);
  margin-right: 15px;
}

.nav-icon i:hover {
  color: var(--secondary-color);
}

.main-home {
  width: 100%;
  height: 100vh;
  background: url(images/banner-3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.main-text {
  padding-left: 30px;
}

.main-text h5 {
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: 400;
}

.main-text h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
}

.main-text p {
  color: var(--gray-color);
  font-style: italic;
  font-weight: 400;
  margin-bottom: 30px;
}

.main-btn {
  border: 2px solid var(--main-color);
  padding: 10px;
  font-size: 20px;
}

.main-btn:hover {
  background-color: var(--main-color);
  color: var(--white-color);
  transition: 0.5s;
}

.center-text h2 {
  text-align: center;
  margin: 15px;
}

.center-text span {
  color: var(--secondary-color);
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
}

.row {
  position: relative;
}

.row img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.row img:hover {
  scale: 0.95;
  transition: 0.5s;
}

.product-text h5 {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 3px;
  text-transform: uppercase;
  position: absolute;
  top: 13px;
  left: 20px;
  cursor: pointer;
}
.row:hover .product-text h5 {
  transform: translate(50%, 100%);
  transition: 0.5s;
}

.heart-icon {
  position: absolute;
  right: 0;
  font-size: 20px;
  cursor: pointer;
}

.heart-icon:hover {
  color: var(--secondary-color);
}

.rating i {
  color: var(--star-color);
  font-size: 20px;
}

.price h4 {
  color: var(--main-color);
  font-size: 20px;
}
.price p {
  color: var(--price-color);
  font-size: 20px;
  font-weight: bold;
}

.client-review {
  background-color: var(--review-bg-color);
  margin-top: 30px;
}

.reviews {
  text-align: center;
}

.reviews img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin-left: 47%;
  margin-bottom: 10px;
}

.reviews h3 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.reviews p {
  color: var(--review-p-color);
  font-style: italic;
  width: 70vw;
  justify-content: center;
  display: inline-block;
}

.reviews h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-top: 15px;
}

.up-center-text h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin: 30px;
}
.update-cart {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, auto));
  gap: 20px;
  text-align: center;
}

.cart img {
  width: 380px;
  border-radius: 10px;
}

.cart h5,
p {
  color: var(--review-p-color);
}

.cart h4 {
  margin: 10px 0;
}

.cart h6 {
  margin-top: 10px;
}

.top-arrow {
  text-align: center;
  margin: 30px;
}
.top-arrow i {
  font-size: 30px;
  color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 50%;
  padding: 10px;
}

.top-arrow i:hover {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  transition: 0.5s;
  scale: 0.95;
}

.location {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.location-text i {
  font-size: 40px;
}

.location-text p {
  font-style: italic;
}

.contact {
  background-color: var(--review-bg-color);
  padding: 15px 0;
  padding-left: 0;
  margin-top: 30px;
  text-align: center;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.first-info,
.second-info,
.third-info,
.fourth-info {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1 0 300px;
}

.first-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.first-info img {
  margin: auto;
  width: 200px;
}

.first-info a {
  width: 100%;
}

.contact h4 {
  cursor: pointer;
  text-transform: uppercase;
}

.contact p {
  cursor: pointer;
}

.contact p:hover,
.first-info a:hover,
.second-info a:hover,
.third-info a:hover,
.fourth-info a:hover {
  color: var(--secondary-color);
  transition: 0.5s;
}

/* 
.social-icon a i {
  color: var(--white-color);
  background-color: var(--main-color);
  /*     width: 100vw; 
  padding: 10px;
  margin-top: 15px;
  color: var(--white-color);
  display: inline-block;
  justify-content: center;
  font-size: 25px;
  border-radius: 50%;
} */

.social-icon {
  background-color: #2c2c2c;
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon i {
  color: var(--white-color);
  font-size: 20px;
}

.social-icon i:hover {
  color: var(--secondary-color);
  transition: 0.5s;
}
