* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  --main-color: #2c2c2c;
  --secondary-color: crimson;
  --gray-color: rgb(90, 89, 89);
  --star-color:gold;
  --price-color:green;
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-color);
}

header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  position: fixed;
  z-index: 999;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  padding: 20px;
}

.logo img {
  max-width: 130px;
}

.nav-menu {
  display: flex;
  gap: 10px;
}

.nav-menu a {
  font-size: 17px;
}

.nav-menu a:hover {
  color: var(--secondary-color);
  transition: 0.5s;
}

.nav-icon {
  display: flex;
  align-items: center;
}

.nav-icon i {
  color: var(--main-color);
  margin-right: 15px;
}

.nav-icon i:hover {
  color: var(--secondary-color);
}

.main-home {
  width: 100%;
  height: 100vh;
  background: url(images/banner-3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
}

.main-text {
  padding-left: 30px;
}

.main-text h5 {
  color: var(--secondary-color);
  font-size: 25px;
  font-weight: 400;
}

.main-text h1 {
  font-size: 60px;
  font-weight: 500;
  line-height: 1;
}

.main-text p {
  color: var(--gray-color);
  font-style: italic;
  font-weight: 400;
  margin-bottom: 30px;
}

.main-btn {
  border: 2px solid var(--main-color);
  padding: 10px;
  font-size: 20px;
}

.main-btn:hover {
  background-color: var(--main-color);
  color: var(--white-color);
  transition: 0.5s;
}

.center-text h2 {
  text-align: center;
  margin: 15px;
}

.center-text span {
  color: var(--secondary-color);
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
}

.row {
  position: relative;
}

.row img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.row img:hover {
  scale: 0.95;
  transition: 0.5s;
}

.product-text h5 {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 3px;
  text-transform: uppercase;
  position: absolute;
  top: 13px;
  left: 20px;
  cursor: pointer;
}
.row:hover .product-text h5 {
  transform: translate(50%, 100%);
  transition: 0.5s;
}

.heart-icon {
  position: absolute;
  right: 0;
  font-size: 20px;
  cursor: pointer;
}

.heart-icon:hover {
  color: var(--secondary-color);

}

.rating i{
    color: var(--star-color);
    font-size: 20px;
}


.price h4{
    color:var(--main-color);
    font-size: 20px;
}
.price p{
    color:var(--price-color);
    font-size: 20px;
    font-weight: bold;
}